<strong>Recuperando Senha</strong>

<p>Uma solicitação de recupração de senha foi realizada para o email ({{ email }}). Se não foi você que solicitou seria interessante voce alterar sua senha.</p>

<p>Para continuar com a recupração de senha, utilize o token {{ token }} ou utilize o link abaixo.</p>

<a href="{{ link }}">Criar nova senha</a>
